<footer class="page-footer font-small bg-warning fixed-bottom">
    <div class="footer-copyright text-center py-3">&copy; 2025 Copyright:
        <a style="text-decoration: none;" href="{% url 'index' %}">City Fast Food Restaurant.</a>
        Powered by
        <a style="text-decoration: none;" href="http://www.philipstek.com" target="_blank"
            rel="noopener noreferrer">PhilipsTech</a><br>
        <a class="me-3" style="text-decoration: none;" href="{% url 'dashboard' %}">Restaurant Login</a>
    </div>
</footer>